@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #f3eae5;
  --text-dark: #2c2724;
  --white: #ffffff;
  --max-width: 1200px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  min-height: 100vh;
  background-color: #1f2937;
}

/* Styling for Header Section */
#navbar {
  max-width: var(--max-width);
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}
.header-links > ul {
  display: flex;
  gap: 20px;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

/* Styling for Hero Section */
#hero {
  max-width: var(--max-width);
  margin: 10rem auto;
}

.hero-section {
  display: flex;
  background-color: #1f2937;
}

.hero-section > img {
  width: 300px;
}

.hero-title > h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  margin-bottom: 20px;
}

.hero-title > p {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 20px;
}

.hero-title > button {
  padding: 10px 10px;
  width: 150px;
  font-size: 18px;
  font-weight: 700;
  background-color: #3882f6;
  border-radius: 10px;
  border-style: none;
  color: white;
}

/* Card Component Styling */
#info-cards {
  /* margin: 2rem auto; */
  /* max-width: var(--max-width); */
  /* margin: 100px auto; */
}

.random-info-section {
  width: 100%;
  text-align: center;
  background-color: white;
  padding: 80px 20px;
}

.random-info-section > h1 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  margin-bottom: 30px;
}
.card {
  width: 200px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.card-container > .card > .image {
  width: 200px;
  height: 200px;
  border: 5px solid #3882f6;
  border-radius: 10px;
}

/* Styling for Testimonials */

#testimonials {
  width: 100%;
  background-color: #e5e7eb;
}

.testimonials-container {
  max-width: 70%;
  margin: 0 auto;
  padding: 80px 20px;
}

#testimonials p {
  text-align: justify;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  margin-bottom: 20px;
}
#testimonials h2 {
  text-align: end;
}

/* CTA Section Styling */

#cta {
  background-color: white;
  padding: 80px 0;
}
.cta-container {
  max-width: var(--max-width);
  width: 70%;
  margin: 0 auto;
  padding: 80px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3882f6;
  border-radius: 10px;
}

.cta-text-container {
  flex: 3;
}

.cta-text-container h2 {
  color: white;
}
.cta-text-container p {
  color: white;
}
.cta-button-container {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
}
.cta-button-container button {
  width: 100px;
  height: 50px;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  border-color: white;
  background-color: #3882f6;
  text-decoration: none;
}

/* Styling for Footer Section */
#footer {
  width: 100%;
  padding: 30px 20px;
  text-align: center;
}

#footer p {
  color: white;
}
