@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  min-height: 100vh;
  background-color: #1f2937;
}

.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
  padding: 0 20px;
}
/* Styling for Header Section */
.header-section {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}
.header-links > ul {
  display: flex;
  gap: 20px;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

/* Styling for Hero Section */

.hero-section {
  display: flex;
  margin: 70px 0;
  background-color: #1f2937;
}

.hero-section > img {
  width: 300px;
}

.hero-title > h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-title > p {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-title > button {
  padding: 10px 10px;
  width: 150px;
  font-size: 18px;
  font-weight: 700;
  background-color: #3882f6;
  border-radius: 10px;
  border-style: none;
  color: white;
}

/* Card Component Styling */

.random-info-section {
  width: 100%;
  text-align: center;
  background-color: white;
}

.random-info-section > h1 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}
.card {
  width: 200px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.card-container > .card > .image {
  width: 200px;
  height: 200px;
  border: 5px solid #3882f6;
  border-radius: 10px;
}

/* Quotation Section Styling */
.quotation-section {
  background-color: #e5e7eb;
}

.quotation-section > .container {
  padding: 50px 0;
  max-width: 60%;
}

.quotation-section > .container > p {
  text-align: center;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}
.quotation-section > .container > h2 {
  text-align: end;
}
